$grey: #ccc;
$light-brown: rgb(147, 147, 147);
$green: rgb(5, 86, 5);

section {
  min-width: 400px;
  border: 1px solid;
  padding: 1rem;
}
header {
  margin-bottom: 1rem;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid $grey;
  margin-bottom: 0.5rem;
}
input {
  border: 1px solid $light-brown;
}
.blank {
  padding-bottom: 1.5rem;
  color: $green;
  font-size: medium;
  font-weight: bold;
}
